.footer {
    position: fixed;
    bottom: 0;
    background-color: indianred;
    color: white;
    text-align: center;
    font-size: medium;
    min-height: 5vh;
    width: 100%;
    padding: 2rem;
}