<nav [ngStyle]="{'background-color':bgColor}" class="navbar">
    <!-- internalLink href -->

    <a [routerLink]="item.url" [ngStyle]="{'color':textColor,'font-size':fontSize}" *ngFor="let item of links">
        {{item.name}}
    </a>

    <!-- <a  routerLink="/">Anasayfa</a>
    <a [ngStyle]="{'color':textColor, 'font-size':fontSize}" routerLink="/about">Hakkımızda</a>
    <a [ngStyle]="{'color':textColor, 'font-size':fontSize}" routerLink="/contact">İletişim</a>
    <a [ngStyle]="{'color':textColor, 'font-size':fontSize}" routerLink="/product">Ürünler</a> -->
    <a [ngStyle]="{'color':textColor, 'font-size':fontSize}" href="https://www.google.com">Google</a>
    <!-- external link href kullanacağız -->
</nav>
