<button type="button" class="btn btn-primary" (click)="openModal(template)">{{modalButtonTitle}}</button>
 
<ng-template #template>
  <div class="modal-header">
    <!-- @Html.Raw yerine kullanırız mvcde bunun için angularda [innerHMTL] -->
    <h4 class="modal-title pull-left" [innerHTML]="header" ></h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="body">
   
  </div>
</ng-template>
